.leaderboard-content {
    padding: 16px;
    display: grid;
    gap: 12px;
}

h1 {
    font-size: 30px;
    margin: 8px 0;
    font-weight: 1000;
}

.card>p {
    margin: 0;
}

.leaderboard-row {
    display: flex;
    align-items: center;
    gap: 12px;
}

.leaderboard-row.first {
    background: var(--accent);
    color: #020617;
}

.rank {
    width: 44px;
    height: 44px;
    border-radius: 16px;
    background: #020617;
    color: var(--accent);
    display: grid;
    place-items: center;
    font-weight: 1000;
    font-size: 30px;
}

.user-info {
    flex: 1;
}

.user-info p {
    margin: 2px 0 0;
    font-size: 16px;
    opacity: .75;
}

.user-info strong {
    font-size: 20px;
}

.points {
    font-size: 40px;
}

.leaderboard-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 30px;
    line-height: 1;
    margin: 8px 0;
    font-weight: 1000;
}

.leaderboard-title-icon {
    font-size: 1em;
    line-height: 1;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 0,
        'opsz' 32;
}